
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
      Merhaba @ViewBag.Ad!
    </p>
    <p>
        @if (ViewBag.Saat > 17)
        {
            <span> İyi Akşamlar..</span>
            
        }
        else
        {
            <span> İyi Günler.. </span>
            
        }
    </p>
</body>
</html>
