@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
      Merhaba @ViewBag.Ad!
    </p>
    <p>
        @if (ViewBag.Saat > 17)
        {
            <span> İyi Akşamlar..</span>
            
        }
        else
        {
            <span> İyi Günler.. </span>
            
        }
        
    </p>
    <a asp-action="UrunEkle" asp-controller="Home">Ürün ekle</a> @* elementine .net core'a ait iki adet attiribute geldi. Bunlar sayesinde render edecek.*@
</body>
</html>
